






@tailwind base;
@tailwind components;
@tailwind utilities;



.border{
    border: 1px solid red;
  }

  .hd:hover img {
    transition: transform 0.3s ease;
  
    transform: scale(1.1); 
  }
  .hd:hover .hv {
  color: rgb(29, 202, 202);
  
  }
  .active{
    background: #e61f1f;
    color: red;
  }